<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Device Image Viewer</title>

</head>
<body>

    <h1>Device Image Viewer</h1>
    <button onclick="startFetching()">Start Fetching Images</button>
    <div class="image-container">
        <div id="overlay">Loading...</div>
        <img id="device-image" src="" alt="Device Image" />
        <div id="action-layer"></div>
    </div>

<script src="{{ url_for('static', filename='action_listening.js') }}"></script>
<script src="{{ url_for('static', filename='api_request.js') }}"></script>

</body>
</html>